@import url("common.css");
.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 2vw;
  z-index: 100;
  width: 100%;
  height: auto;
  background: #fff;
  border-bottom: 1px solid #e6e6eb;
}

.header p {
  font-size: 1.2em;
  text-align: center;
}

.header a:before {
  content: "";
  background: url("../img/ic_close.png") no-repeat;
  background-size: 100% 100%;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
}

.headerback {
  position: relative;
  padding: 2vw 0 0 2vw;
  width: 100%;
  height: 10vh;
  background: #fff;
  opacity: 0;
}

.headerback a {
  display: block;
  float: left;
  width: 24vw;
}

.headerback a img {
  width: 100%;
}

.content_login {
  width: 84%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0 30px 0;
  margin: 0 auto;
  position: relative;
}

.content_login img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 25px;
}

.content_login form div {
  margin-top: 20px;
  border-bottom: 1px solid #e6e6eb;
  padding: 10px 0;
  margin: 0 auto;
}

.content_login form div input {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: 94%;
  height: 28px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_login form div {
  margin-top: 20px;
  border-bottom: 1px solid #e6e6eb;
  padding: 10px 0;
  margin: 0 auto 30px;
  position: relative;
}

.content_login form div input {
  margin: 0;
  padding: 0;
  width: 94%;
  height: 28px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border: none;
}

.content_login form div .eyeIc {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  background: url("../img/ic_pwview-off.png") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.content_login form .btn_login {
  position: absolute;
  right: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  font-size: 0;
  background: url("../img/ic_next-off.png") no-repeat;
  background-size: 100%;
  border: none;
}

.content_login form p {
  font-size: 14px;
  color: #9999a0;
}

.content_login form p a {
  text-decoration: underline;
  font-size: 14px;
  color: #9999a0;
}

.content_login .facebook p {
  margin-top: 109px;
  border-top: 1px solid #e6e6eb;
}

.content_login .facebook p span {
  display: block;
  margin: -15px auto 0;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background: #fff;
}

.content_login .facebook .fcLogin {
  margin-top: 15px;
  color: #fff;
  background: #3b5998;
  text-align: center;
  font-size: 16px;
  height: 44px;
  width: 100%;
  display: block;
  border-radius: 2px;
}

.content_login .facebook div {
  margin-top: 15px;
  text-align: center;
}

.content_login .facebook div a {
  text-decoration: underline;
  font-size: 14px;
  color: #9999a0;
}

.footLink {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 1% 0;
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 1px solid #e6e6eb;
  background: #fff;
}

.footLink a {
  display: inline-block;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33%;
  height: 100%;
  padding-top: 36px;
  vertical-align: top;
  position: relative;
}

.footLink .home:before {
  background: url(../img/ic_logo-on.png) no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -16px;
}

.footLink .search:before {
  background: url(../img/ic_person-off.png) no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -16px;
}

.footLink .about:before {
  background: url(../img/ic_guide-off.png) center no-repeat;
  background-size: 80% 80%;
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -16px;
}

.footLink-back {
  position: relative;
  opacity: 0;
  padding: 1% 0;
  width: 100%;
  height: auto;
  text-align: center;
  border-top: 1px solid #e6e6eb;
  background: #fff;
}

.footLink-back a {
  display: inline-block;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33%;
  height: 100%;
  padding-top: 36px;
  vertical-align: top;
  position: relative;
}
/*# sourceMappingURL=login.css.map */