@import url("common.css");
.background {
  background: #e6e6eb;
  position: relative;
  width: 100%;
  height: 100vh;
}

.background .searchbox {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  padding: 3vw 5vw;
  background: #fff;
}

.background .searchbox .back {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/ic_back.png) no-repeat;
  background-size: 100% 100%;
}

.background .searchbox .inputarea {
  position: relative;
  padding: 10px 0;
  margin-left: 5%;
  width: 95%;
  border-bottom: 1px solid #222228;
}

.background .searchbox .inputarea:before {
  position: absolute;
  top: 13px;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  background: url(../img/ic_glass-on.png) no-repeat;
  background-size: 100% 100%;
}

.background .searchbox .inputarea input {
  border: none;
  outline-style: none;
  margin-left: 5%;
  padding-left: 5%;
  width: 90%;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  font-size: 18px;
}

.background .searchbox .inputarea div a {
  width: 20px;
  display: block;
}

.background .searchbox .inputarea div a img {
  width: 20px;
}

.background .searchbox-back {
  position: relative;
  top: 0;
  right: 0;
  width: 95%;
  opacity: 0;
  height: 80px;
  padding: 3vw 5vw;
  background: #fff;
}

.background .searchbox-back .inputarea {
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #222228;
}

.background .searchbox-back .inputarea:before {
  position: absolute;
  top: 13px;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  background: url(../img/ic_glass-on.png) no-repeat;
  background-size: 100% 100%;
}

.background .searchbox-back .inputarea input {
  border: none;
  margin-left: 5%;
  padding-left: 5%;
  width: 90%;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  font-size: 18px;
}

.background .searchbox-back .inputarea div img {
  width: 20px;
}

.background .nearbox {
  background: #fff;
  margin-top: 10px;
  padding-top: 10px;
}

.background .nearbox .nearby {
  padding: 0 15px;
}

.background .nearbox .nearby h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.background .nearbox .nearby p {
  color: #9999a0;
}

.background .nearbox .nearby p span {
  font-size: 14px;
}

.background .nearbox .mapbox {
  border-top: 1px solid #e6e6eb;
  margin-top: 20px;
}

.background .nearbox .mapbox .distance {
  padding-top: 10px;
  margin-bottom: 5px;
}

.background .nearbox .mapbox .map {
  height: auto;
}

.slider {
  position: relative;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider .listbox .items {
  overflow: hidden;
  border-radius: 2px;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 200px;
  -webkit-transition: -webkit-transform 3s ease-in-out;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move;
  margin-left: 20px;
}

.slider .listbox .items.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255, 0.3);
}

.slider .listbox .items .item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(34, 34, 40, 0.15);
  background: #fff;
  margin-right: 20px;
  padding: 16px 15px;
  border: 1px solid #e6e6eb;
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .listbox .items .item .con {
  margin-left: 1%;
}

.slider .listbox .items .item .con .leftsec {
  display: inline-block;
  width: 30%;
  font-size: 0;
  overflow: hidden;
}

.slider .listbox .items .item .con .leftsec .thumb {
  width: 100%;
  height: 100%;
}

.slider .listbox .items .item .con .leftsec .thumb > a {
  width: 100%;
  height: 100%;
}

.slider .listbox .items .item .con .leftsec .thumb img {
  width: 100px;
  height: 100px;
  border-radius: 3vw;
}

.slider .listbox .items .item .con .rightsec {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  font-size: 0;
}

.slider .listbox .items .item .con .rightsec > div {
  margin-bottom: 6px;
}

.slider .listbox .items .item .con .rightsec > div > h4 {
  font-size: 16px;
  text-transform: uppercase;
}

.slider .listbox .items .item .con .rightsec > div > span {
  display: none;
}

.slider .listbox .items .item .con .rightsec > h6 {
  color: #9999a0;
  margin-bottom: 10px;
}

.slider .listbox .items .item .con .rightsec .address {
  font-size: 13px;
  color: #9999a0;
  white-space: pre-wrap;
}

.slider .listbox .items .item .appraisal {
  margin: 10px auto 0;
  padding-top: 10px;
  width: 94%;
  text-align: left;
  border-top: 1px solid  #f0f0f3;
}

.slider .listbox .items .item .appraisal .like {
  background: url(../img/ic_like.png) no-repeat;
  background-size: 16px 16px;
  padding-left: 21px;
}

.slider .listbox .items .item .appraisal .write {
  margin-left: 14px;
  background: url(../img/ic_write.png) no-repeat;
  background-size: 16px 16px;
  padding-left: 21px;
}
.node {
  position: absolute;
  background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/sign-info-64.png);
  cursor: pointer;
  width: 64px;
  height: 64px;
}

.tooltip {
  background-color: #fff;
  position: absolute;
  border: 2px solid #333;
  font-size: 25px;
  font-weight: bold;
  padding: 3px 5px 0;
  left: 65px;
  top: 14px;
  border-radius: 5px;
  white-space: nowrap;
  display: none;
}

.tracker {
  position: absolute;
  margin: -35px 0 0 -30px;
  display: none;
  cursor: pointer;
  z-index: 3;
}

.icon {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 48px;
  height: 48px;
  background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/sign-info-48.png);
}

.balloon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/balloon.png);
  -ms-transform-origin: 50% 34px;
  -webkit-transform-origin: 50% 34px;
  transform-origin: 50% 34px;
}
/*# sourceMappingURL=map.css.map */