@import url("common.css");
.background {
  background: #e6e6eb;
  position: relative;
  width: 100%;
  height: auto;
}

.background .searchbox {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  padding: 2vw 5vw;
  background: #fff;
}

.background .searchbox .back {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../img/ic_back.png) no-repeat;
  background-size: 100% 100%;
}

.background .searchbox .inputarea {
  position: relative;
  padding: 10px 0;
  margin-left: 5%;
  width: 95%;
  border-bottom: 1px solid #222228;
}

.background .searchbox .inputarea:before {
  position: absolute;
  top: 13px;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  background: url(../img/ic_glass-on.png) no-repeat;
  background-size: 100% 100%;
}

.background .searchbox .inputarea input {
  border: none;
  outline-style: none;
  margin-left: 5%;
  padding-left: 5%;
  width: 90%;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  font-size: 18px;
}

.background .searchbox .inputarea div a {
  width: 20px;
  display: block;
}

.background .searchbox .inputarea div a img {
  width: 20px;
}

.background .nearbox {
  background: #fff;
}

.background .nearbox .mapbox {
  border-top: 1px solid #e6e6eb;
  position: relative;
  top: 0;
  left: 0;
}

.background .nearbox .mapbox .distance {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  z-index: 10;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background .nearbox .mapbox .distance .nearby {
  width: 100%;
  padding-top: 15px;
}

.background .nearbox .mapbox .distance .nearby h3 {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
}

.background .nearbox .mapbox .distance .nearby p {
  margin-left: 5px;
  display: inline-block;
  color: #9999a0;
}

.background .nearbox .mapbox .distance .level {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background .nearbox .mapbox .distance .level > a {
  cursor: pointer;
  text-align: center;
  padding: 3px 25px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.background .nearbox .mapbox .distance .level > a p {
  width: 100%;
}

.background .nearbox .mapbox .map {
  height: auto;
  margin-top: 19vh;
}

.background .nearbox .mapbox .mapInfo {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.background .nearbox .mapbox .mapInfo > p {
  display: inline-block;
  margin-top: 2px;
  color: #000;
  font-size: 10px;
}

.background .nearbox .mapbox .mapInfo > p a {
  font-size: 10px;
  color: #000;
}

.slider {
  position: relative;
  bottom: 200px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider .listbox .items {
  border-radius: 2px;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  width: 100%;
  -webkit-transition: -webkit-transform 3s ease-in-out;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move;
  margin-left: 20px;
}

.slider .listbox .items.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255, 0.3);
}

.slider .listbox .items .item {
  border: 1px solid rgba(34, 34, 40, 0.15);
  background: #fff;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #e6e6eb;
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .listbox .items .item .con {
  margin-left: 1%;
}

.slider .listbox .items .item .con .leftsec {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0;
  overflow: hidden;
}

.slider .listbox .items .item .con .leftsec .thumb {
  width: 100%;
  height: 100%;
}

.slider .listbox .items .item .con .leftsec .thumb > a {
  width: 100%;
  height: 100%;
}

.slider .listbox .items .item .con .leftsec .thumb img {
  width: 100px;
  height: 100px;
  border-radius: 3vw;
}

.slider .listbox .items .item .con .rightsec {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  font-size: 0;
}

.slider .listbox .items .item .con .rightsec > div {
  margin-bottom: 6px;
}

.slider .listbox .items .item .con .rightsec > div > h4 {
  font-size: 16px;
  text-transform: uppercase;
}

.slider .listbox .items .item .con .rightsec > div #idx {
  text-align: center;
  vertical-align: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #4aa0ec;
}

.slider .listbox .items .item .con .rightsec > div > span {
  display: none;
}

.slider .listbox .items .item .con .rightsec > h6 {
  color: #9999a0;
  margin-bottom: 10px;
}

.slider .listbox .items .item .con .rightsec .address {
  font-size: 13px;
  color: #9999a0;
  white-space: pre-wrap;
}

.slider .listbox .items .item .appraisal {
  margin: 10px auto 0;
  padding-top: 10px;
  width: 94%;
  text-align: left;
  border-top: 1px solid  #f0f0f3;
}

.slider .listbox .items .item .appraisal .like {
  background: url(../img/ic_like.png) no-repeat;
  background-size: 16px 16px;
  padding-left: 21px;
}

.slider .listbox .items .item .appraisal .write {
  margin-left: 14px;
  background: url(../img/ic_write.png) no-repeat;
  background-size: 16px 16px;
  padding-left: 21px;
}
/*# sourceMappingURL=map.css.map */