@import url("common.css");
.background .page .today-list {
  border-radius: 4vw;
  -webkit-box-shadow: 0.5vw 0.5vw 4vw 0.5vw rgba(59, 59, 59, 0.15);
          box-shadow: 0.5vw 0.5vw 4vw 0.5vw rgba(59, 59, 59, 0.15);
  background: #fff;
  padding: 6vw 0;
}

.background .page .today-list h2 {
  font-size: 7vw;
  font-weight: 900;
  padding: 0 4vw;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.header .morebox {
  padding: 2vw;
}

.header .morebox a {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .morebox .logo {
  display: block;
  float: left;
  width: 24vw;
}

.header .morebox .logo img {
  width: 100%;
}

.header .morebox .moremap {
  display: block;
  width: 25%;
}

.header .morebox .moremap .desc {
  font-size: 10px;
  text-align: center;
}

.header .morebox .moremap .desc img {
  width: 64px;
  height: 64px;
}

.header .location {
  width: 100%;
  padding: 2vw;
  position: relative;
  background: linear-gradient(30deg, #000000, #e74c3c);
}

.header .location span {
  margin-left: 15px;
  display: inline-block;
  color: #fff;
  font-size: 17px;
}

.header .location button {
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 4px 6px 2px;
  font-size: 17px;
  width: 102px;
  height: 44px;
}

.header .location button img {
  width: 4vw;
}

.header .searchbox {
  display: none;
  width: 100%;
  padding: 3vw 5vw;
  background: #fff;
}

.header .searchbox.active {
  display: block;
}

.header .searchbox .inputarea {
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #222228;
}

.header .searchbox .inputarea:before {
  position: absolute;
  top: 13px;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  background: url(../img/ic_glass-on.png) no-repeat;
  background-size: 100% 100%;
}

.header .searchbox .inputarea input {
  outline-style: none;
  border: none;
  margin-left: 5%;
  padding-left: 5%;
  width: 90%;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: auto;
  font-size: 18px;
}

.header .searchbox .inputarea div a {
  width: 20px;
  display: block;
}

.header .searchbox .inputarea div a img {
  width: 20px;
}

.background {
  background: #e6e6eb;
  padding-top: 20vh;
}

.background .page {
  margin: 6vw 4vw;
}

.background .page .today-list .data-wrap {
  background: #fff;
  padding: 4vw;
  width: 100%;
  height: 73vw;
  position: relative;
  overflow: hidden;
}

.background .page .today-list .data-wrap.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255, 0.3);
}

.background .page .today-list .data-wrap .items {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 3s ease-in-out;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move;
  margin-left: 5vw;
}

.background .page .today-list .data-wrap .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 53vw;
  margin-right: 10vw;
}

.background .page .today-list .data-wrap .items .item .thumb {
  width: 100%;
  height: 50vw;
}

.background .page .today-list .data-wrap .items .item .thumb img {
  width: 300px;
  height: 100%;
  border-radius: 3vw;
}

.background .page .today-list .data-wrap .items .item .summary {
  margin-left: 5px;
}

.background .page .today-list .data-wrap .items .item .summary > h3 {
  white-space: nowrap;
  font-size: 4.7vw;
  margin-top: 2vw;
  font-weight: 500;
  width: 70%;
  text-transform: uppercase;
}

.background .page .today-list .data-wrap .items .item .summary > small {
  opacity: 0.7;
  font-size: 3.1vw;
  display: block;
  margin-top: 1.5vw;
  color: #898989;
  width: 55%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.background .nearbox {
  background: #fff;
  margin-top: 50px;
}

.background .nearbox .mapbox {
  border-top: 1px solid #e6e6eb;
}

.background .nearbox .mapbox .distance {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background .nearbox .mapbox .distance .nearby {
  width: 100%;
  padding: 0 15px;
}

.background .nearbox .mapbox .distance .nearby h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.background .nearbox .mapbox .distance .nearby p {
  color: #9999a0;
}

.background .nearbox .mapbox .distance .level {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background .nearbox .mapbox .distance .level > a {
  cursor: pointer;
  text-align: center;
  padding: 3px 25px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.background .nearbox .mapbox .distance .level > a p {
  width: 100%;
}

.background .nearbox .mapbox .map {
  height: auto;
}

.background .nearbox .listbox {
  overflow: hidden;
  width: 100%;
  height: 20vh;
}

.background .nearbox .listbox .items {
  border-radius: 2px;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  width: 100%;
  -webkit-transition: -webkit-transform 3s ease-in-out;
  transition: -webkit-transform 3s ease-in-out;
  transition: transform 3s ease-in-out;
  transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: move;
  margin-left: 20px;
}

.background .nearbox .listbox .items.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(255, 255, 255, 0.3);
}

.background .nearbox .listbox .items .item {
  background: #fff;
  margin-right: 20px;
  padding: 3px 5px;
  border: 1px solid #e6e6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background .nearbox .listbox .items .item .con {
  width: 330px;
}

.background .nearbox .listbox .items .item .con .leftsec {
  display: inline-block;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 0;
}

.background .nearbox .listbox .items .item .con .leftsec .thumb {
  width: 100%;
  height: 100%;
}

.background .nearbox .listbox .items .item .con .leftsec .thumb > a {
  width: 100%;
  height: 100%;
}

.background .nearbox .listbox .items .item .con .leftsec .thumb img {
  width: 100px;
  height: 100px;
  border-radius: 3vw;
}

.background .nearbox .listbox .items .item .con .rightsec {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 110px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 3px;
  font-size: 0;
}

.background .nearbox .listbox .items .item .con .rightsec > div {
  margin-bottom: 6px;
}

.background .nearbox .listbox .items .item .con .rightsec > div > h4 {
  font-size: 16px;
  text-transform: uppercase;
}

.background .nearbox .listbox .items .item .con .rightsec > div #idx {
  text-align: center;
  vertical-align: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #4aa0ec;
}

.background .nearbox .listbox .items .item .con .rightsec > div > span {
  display: none;
}

.background .nearbox .listbox .items .item .con .rightsec > h6 {
  color: #9999a0;
  margin-bottom: 10px;
}

.background .nearbox .listbox .items .item .con .rightsec .address {
  font-size: 13px;
  color: #9999a0;
  white-space: pre-wrap;
}

.background .nearbox .mapInfo > p {
  margin-top: 3px;
  color: #9999a0;
  font-size: 10px;
}

.background .nearbox .mapInfo > p a {
  font-size: 10px;
  color: #9999a0;
}
/*# sourceMappingURL=style.css.map */